# macOS
.DS_Store

# Python bytecode
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/
.env/

# Editor files
.vscode/

# Local dev artifacts
tensorboard_logs/
tensorboard_sweeps/
checkpoints/
datasets/
run_logs/
sweep_results/
.codex
SUSTINERE_PROIECT.md
29042026_333AA_Potop_Horia_Ioan.txt
